<div class="search-container">
  <div class="search-header">
    <h1>Start exploring</h1>
  </div>

  <div class="search-tabs">
    <div class="tabs-container">
      <button 
        *ngFor="let type of searchTypes"
        [class.active]="searchType === type.value"
        (click)="searchType = type.value"
        class="tab-button"
      >
        {{ type.label }}
      </button>
    </div>
  </div>

  <!-- Search Form Depending on Tab Selected -->
  <div [ngSwitch]="searchType">
    
    <!-- Documents Search -->
    <app-search-documents *ngSwitchCase="'documents'"></app-search-documents>
    
    <!-- Authors Search -->
    <div *ngSwitchCase="'authors'">
      <h2>Author Search Coming Soon!</h2>
    </div>
    
    <!-- Organizations Search -->
    <div *ngSwitchCase="'organizations'">
      <h2>Organization Search Coming Soon!</h2>
    </div>
    
    <!-- Researcher Discovery Search -->
    <div *ngSwitchCase="'researcher-discovery'">
      <h2>Researcher Discovery Search Coming Soon!</h2>
    </div>
    
    <!-- Default (Documents) -->
    <app-search-documents *ngSwitchDefault></app-search-documents>
    
  </div>
</div>